@media (max-width: 720px) {
  nav {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
  }
  .logo img {
    width: 100px;
    height: 45px;
  }
  .bars {
    display: flex;
    width: 180px;
    height: 45px;
  }
  .ads {
    display: block;
    background: #ffdd33;
    grid-template-columns: 1fr;
    height: 53px;
    width: 100%;
    margin-top: 46px;
  }
  .ads p {
    padding-top: 15px;
    font-size: 12px;
  }
  .bars .uil {
    font-size: 20px;
    color: lightgray;
    width: 80px;
    text-align: center;
    padding-top: 6px;
  }
  .bars .uil {
    border: 1px solid lightgrey;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .blue, .yellow {
    margin-top: 10px;
  }
  .section1,
  .section2,
  .articles {
    width: 100%;
    margin-top: 50px;
  }
  section .wrapper {
    display: flex;
    flex-direction: column;
  }
  .green {
    height: 150px;
    background: green;
    margin-top: 10px;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1115px) {
  .hidden, .hidde, .bars {
    display: none;
  }
  .right-nav {
    display: none;
  }
  .mobile {
    display: block;
  }
  .logo img {
    width: 100px;
    height: 75px;
  }
  .left-nav {
    display: flex;
    padding: 13px 0 13px 13px;
    margin-left: 20px;
  }
  .socials-nav {
    margin-left: 40px;
  }
  .right-nav {
    display: block;
    border: 1px solid lightgrey;
    padding: 15px;
    margin-right: 15px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .p, .o, .l, .q, .r {
    display: none
  }
  .articles {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    padding: 0 20px;
    width: 100%;
  }
}